model_params:
  common_params:
    num_kp: 5
    num_in_channels: 3
    # estimate_jacobian: True
    depth: 3
  kp_detector_params:
    temperature: 0.1
    block_expansion: 4
    max_features: 1024
    scale_factor: 1
    num_blocks: 2
