model_params:
  kp_detector_params:
    num_kp: 20
    # estimate_jacobian: True
    num_in_channels: 3
    depth: 16
    temperature: 0.1
    block_expansion: 32
    max_features: 1024
    scale_factor: 0.5
    num_blocks: 5
  appearance_encoder_params:
    depth: 16
    in_features: 3
    num_res_blocks: 6
    num_down_blocks: 2
    block_expansion: 32
  hpe_estimator_params:
    pretrained: False
    num_kp: 20
    num_rot_bins: 66
    half_range: 99
    scale_factor: 0.5
  occl_estimator_params:
    compressed_in_features: 5
    block_expansion: 32
    num_blocks: 5
    num_features_ch: 32
    max_features: 1024
    num_kp: 20
    depth: 16
    use_skip: False
  generator_params:
    depth: 16
    num_features_ch: 32
    num_res_blocks: 6
    num_up_blocks: 2
    num_kp: 20
    block_expansion: 64
    max_features: 1024
    sn: True
  disciminator_params:
    scales: [1]
    block_expansion: 32
    max_features: 512
    num_blocks: 4
    num_channels: 3
    sn: True

train_params:
  # loss settings
  perceptual_loss_scales: [1]
  loss_weights:
    perceptual: [0.03125, 0.0625, 0.125, 0.25, 1.0]
    face_perceptual: [0.0]
    feature_matching: [10, 10, 10, 10]
    # All losses balance
    perceptual_loss_weight: 10
    gan_loss_weight: 1
    equivariance_loss_weight: 20
    keypoint_prior_loss_weight: 10
    head_pose_loss_weight: 20
    deformation_prior_loss_weight: 5
  transform_params:
    sigma_affine: 0.05
    sigma_tps: 0.005
    points_tps: 5
  keypoint_prior:
    depth_prior: 0.33
    mutual_distance_prior: 0.1

  # lr setting
  num_epochs: 150
  num_repeats: 75
  epoch_milestones: []
  lr_appearance_encoder: 0.0002
  lr_hpe_estimator: 0.0002
  lr_kp_detector: 0.0002
  lr_occlusion_estimator: 0.0002
  lr_generator: 0.0002
  lr_discriminator: 0.0002
  batch_size: 90
  num_workers: 6
  checkpoint_freq: 10

  # hopenet
  hopenet_weight_path: /mnt/data-1/data/zheng.zhu/xiaok/codes/deep-head-pose-master/hopenet_alpha1.pkl

dataset_params:
  root_dir: data/vox
  frame_shape: [256, 256, 3]
  id_sampling: True
  # pairs_list: data/vox256.csv
  augmentation_params:
    flip_param:
      horizontal_flip: True
      time_flip: True
    jitter_param:
      brightness: 0.1
      contrast: 0.1
      saturation: 0.1
      hue: 0.1

visualizer_params:
  kp_size: 5
  draw_border: True
  colormap: "gist_rainbow"
